<div id="sideMenu" class="sideMenu">
    <div class="search">
        <div style="width: 230px;" class="inputWithIcon ">
            <input id="searchInput" style="width: 230px;" (keyup)="searchMenu()" class="searchInput" type="text" placeholder="search...">
            <i class="fas fa-search"></i>
          </div>
    </div>
    <ul id="myMenu">
        <li class="navLink dropdown-btn">
            <i class="far fa-file-alt"></i>
            <a href="#">Offers</a>
            <div class="arrow">
                <i class="fas fa-angle-right "></i>
            </div>
            
        </li>
        <div  class="dropdown-container">
            <ul>
               <li><a href="">subOffers1</a></li>
               <li><a href="">subOffers2</a></li> 
            </ul>
        </div>
        <li class="navLink dropdown-btn">
            <i class="far fa-bookmark"></i>
            <a href="#">Bookings</a>
            <div class="arrow">
                <i class="fas fa-angle-right "></i>
            </div>
        </li>
        <div  class="dropdown-container">
            <ul>
               <li><a href="">subBook1</a></li>
               <li><a href="">subBook2</a></li> 
            </ul>
        </div>
        <li class="navLink dropdown-btn">
            <i class="fas fa-exchange-alt"></i>
            <a href="#">Rentals</a>
            <div class="arrow">
                <i class="fas fa-angle-right "></i>
            </div>
        </li>
        <div  class="dropdown-container">
            <ul>
               <li><a href="">subdest</a></li>
               <li><a href="">subTable</a></li> 
            </ul>
        </div>
        <li class="navLink dropdown-btn">
            <i class="fas fa-users"></i>
            <a href="#">Customers</a>
            <div class="arrow">
                <i class="fas fa-angle-right "></i>
            </div>
        </li>
        <div  class="dropdown-container">
            <ul class="test">
               <li><a href="">jhone doe</a></li>
               <li><a href="">Mary</a></li> 
            </ul>
        </div>
        <li class="navLink dropdown-btn">
            <i class="fas fa-chart-line"></i>
            <a href="#">Financials</a>
            <div class="arrow">
                <i class="fas fa-angle-right "></i>
            </div>
        </li>
        <div  class="dropdown-container">
            <ul>
               <li><a href="">subFin1</a></li>
               <li><a href="">subfin2</a></li> 
            </ul>
        </div>
        <li class="navLink dropdown-btn">
            <i class="fas fa-car"></i>
            <a href="#">Fleet</a>
            <div class="arrow">
                <i class="fas fa-angle-right "></i>
            </div>
        </li>
        <div  class="dropdown-container">
            <ul>
               <li><a href="">subFleet1</a></li>
               <li><a href="">subFleet2</a></li> 
            </ul>
        </div>
        <li class="navLink dropdown-btn">
            <i class="fas fa-briefcase"></i>
            <a href="#">Company</a>
            <div class="arrow">
                <i class="fas fa-angle-right "></i>
            </div>
        </li>
        <div  class="dropdown-container">
            <ul>
               <li><a href="">Apple</a></li>
               <li><a href="">Samsung</a></li> 
            </ul>
        </div>
        <li class="navLink dropdown-btn">
            <i class="fas fa-chart-pie"></i>
            <a href="#">Reports</a>
            <div class="arrow">
                <i class="fas fa-angle-right "></i>
            </div>
        </li>
        <div  class="dropdown-container">
            <ul>
               <li><a href="">Report1</a></li>
               <li><a href="">Report2</a></li> 
            </ul>
        </div>
        
      </ul>
</div> 
 

 