<div class="navigation-wrapper ">
    <div class="center-column">
        <div class="hamburg">
            <i  id="hamburgMenu" class="fas fa-bars"></i>
        </div>
        <div class="banner-image">
           <a style="cursor: pointer;" routerLink="/"> <img src="assets/logo.png" alt="Logo"></a>
          
        </div> 
        <div class="icon">
            <i style="font-size: 20px;" class="fas fa-th-large "></i>
            <i  style="font-size: 20px; color: #6eb74c; padding-left: 10px; " class="fas fa-home"></i>

        </div>
        <div class="search">
            <div class="inputWithIcon ">
                <input class="searchInput" type="text" placeholder="search...">
                <i class="fas fa-search"></i>
              </div>
        </div>
        <div class="users">
          
            <i  class="fas fa-bell bell"></i>
            
            <div class="user">
                <div style="padding-right: 15px;">
                    <img src="/assets/user.jpg" alt="">
                </div>
                <div class="text">
                    <div style="padding-bottom: 3px;">Welcome</div>
                    <div><strong>Mary Simsons</strong></div>
                </div>
                <div style=" padding: 0 15px;">
                    <i style="color: #c6e5b7;" class="fas fa-caret-down"></i>
                </div>
            </div>
        </div>

   
    </div>
</div>