



<app-header></app-header>
<app-sidenav ></app-sidenav>

<div class="main">


<router-outlet></router-outlet>

<br><br><br><br><br>

<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>

<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum dolore distinctio nostrum numquam facilis quam non aliquam tempora magnam, quo, labore porro aliquid pariatur ab consequatur in quaerat reprehenderit provident.</span>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>


<i class="fas fa-address-book fa-2x"></i>

</div>